*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
section{
    display: flex;
    margin-top: 30px;

}

.container-content-contact{
    width: 60%;
    height: 100vh;
    color: white;
    font-size: 19px;
    text-align: center; 
}

.container-content-contact h3{
    color: #6fb8c0;
}
.container-content-contact p{
    margin-right: 80px;
    padding: 0 90px 0 90px;
}

.imagen-contact-contact{
    width: 700px;
    height:auto;
    border: 1px solid #fc6100;
}
.container-form-contact{
    width: 40%;
    height: 100vh;
}

.formulario-contact{
    background-color: rgb(224, 224, 224);
    border-radius: 20px;
    height: 110vh;
    margin: 10px 50px 30px 20px;
    padding: 10px;
    text-align: left;
}

.form-title-contact{
    font-size: 25px;
    color: gray;
}

.formulario-contact input{
    border: 2px solid rgb(255, 168, 168);
    padding: 2px;
    border-radius: 10px;
}

.formulario-contact label {
    text-align: left;
    display: block;
    margin-bottom: 5px; /* Añade un poco de espacio debajo del label */
}
.inputText-contact{
    resize: vertical;
    width: 400px;
    height: 50px;
}
.button-contact{
    width: 60px;
    height: 20px;
}