
/* ventana1*/
.header-ventana1 h3{
    color: aliceblue
}
.h1-ventana1{
    margin-top: 50px;
    color: aqua;
}
.contenedor1-text-ventana1{
    width: 35%;
    height: 500px;
    float: left;
    text-align: center;
}
.contenedor1-parrafo-titulo{
    color: aqua;
}
.contenedor1-text-ventana1 p{
    color: white;
    padding: 10px;
}
.carrusel{
    width: 30%;
    height: 500px;
    float: left;
}
.carrusel p{
    color: white;
}
.carrusel img{
    width: 80%;
    height: 250px;
    padding: 20px;
}
.carrusel p{
    padding-top: 20px;
    padding: 20px;
}
.contenedor-2-text-ventana1{
    width: 35%;
    height: 500px;
    float: right;
    text-align: center;
}
.contenedor-2-text-ventana1 p{
    color: white;
}


#final{
    color: gray;
}

.div-1{
    margin-top: 20px ;
}
