body{
    background-color: black;
    text-align: center;
}
header{
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 30px;
}
.div-1{
    width: 50%;
    height: 600px;
    padding: 40px;
    float: left;

}
.div-2{
    width: 50%;
    height: 600px;
    float: right;
    padding: 40px;
}
.header-ventana h1{
    color: #6ccdd0;
}
.contenedor-principal-ventana p{
    color: white;
    padding: 20px;
    margin-top: 10px ;
}
.p1{
    color: #6ccdd0;
    padding: 40px;
}
.btn-1{
    background-color: #6ccdd0;
    color: red;
    padding: 10px;
    border-radius: 10px;
}
#img-1{
    width: 400px;
    height: 400px;
    padding-top: 30px;
    border-radius: 50%;
    transition: transform 0.5s ease-in-out;;

}