/* Estilos generales */
body {
    background-color: black;
}

/* Contenido */
section {
    display: flex;
    margin-top: 20px;
}

.images-blog {
    width: 70%;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

/* Estilos específicos para el botón */
.sub-form-blog .btn-enviar {
  display: block;
  width: 200px;
  height: 30px;
  margin-top: 20px; /* Ajusta el margen según sea necesario */
}

/* Otros estilos */
.image-blog {
    background-color: white;
    padding-top: 20px;
    width: 400px;
    height: 300px;
    color: black;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 30px 40px 80px;
    border-radius: 20px;
    box-shadow: 7px 3px 10px #6fb8c0;
    transition: transform 0.3s ease;
}

.image-blog:hover {
    transform: scale(1.09);
}

.image-blog p {
    font-size: 20px;
    text-align: center;
    padding: 50px;
}

.image-blog img {
    margin: 0 auto;
    width: 90px;
    height: 90px;
}

.image-3-blog i {
    font-size: 80px;
    padding: 30px 10%;
}

.formulario-blog {
    width: 30%;
    max-width: 400px;
    margin: 0 20px;
    color: rgb(97, 97, 97);
}

.title-p-blog {
    font-size: 25px;
    margin: 20px 0;
    color: #1b9da9;
}
/* Estilos específicos para el formulario */
.newsletter-blog {
    margin-bottom: 10px; /* Ajusta el margen inferior para separar del siguiente elemento */
}

.textoboton{
    display: flex;
}

.newsletter-blog p {
    padding-left: 10px; /* Ajusta el espaciado entre el checkbox y el texto */
    margin-right: 30; /* Elimina el margen por defecto */
}

.newsletter-blog input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin: 0; /* Elimina el margen por defecto */
}


.sub-form-blog {
    border-radius: 20px;
    padding: 20px;
    background-color: rgb(232, 232, 232);
/* Alinea los elementos verticalmente en el contenedor del formulario */
}

.sub-form-blog input {
    border-radius: 7px;
    padding: 5px 10px;
    margin-bottom: 10px;
    width: 100%;
}

.sub-form-blog button {
    display: block;
    width: 200px;
    height: 40px;
    margin-top: 10px; /* Margen superior para separar del checkbox y el texto */
    border-radius: 10px;    
    margin: 0 auto;
}
/* Estilos específicos para el botón */
.btn-enviar {
    display: block;
    width: 200px;
    height: 30px;
    margin-top: 20px; /* Ajusta este valor según sea necesario */
}

.books, .qwe {
    text-align: center;
}

.sub-form img {
    display: block;
    margin: 20px auto;
}

.textoboton p{
    color: black;
}